body {
  background-color:rgb(160, 160, 160);
  text-align:center;
  font-size:larger;
  font-family: arial;
}

#generatorBox {
  display:inline-block;
  border: 1px dashed #aaaaaa;
  padding:2em;
  background-color:rgb(220, 220, 220);
  border-radius:6px;
  margin: 3em auto;
}
.checkBoxes {
  display:flex;
  justify-content:space-between;
  
}
.button {
  display:block;
  justify-content:space-around;
  margin-top:1rem;
  margin-bottom:1rem;
  font-family:arial;
}